@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            User: <input readonly type="text" id="userInput" value="host" />
            <br />
            Message: <input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
            <input type="button" id="sendButtonCaller" value="Send Message Caller" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/js/signalr.js"></script>
<script src="~/js/chat.js"></script>